.content {
  padding: 0 50px;
}

.contentWrapper {
  background: white;
  padding: 24px;
  min-height: 100vh;
}

.footer {
  text-align: center;
}

.fakeLogo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  float: left;
}
